<!doctype html>
<html lang="en">
  <head>
    <%- include('partial/header') %>
  </head>
  
  <body>
    <!-- Page Content -->
    <%- include('partial/nav') %>
    <article>
        <div class="container">
            <div class = "row">
                <div class = "col-lg-6">
                    <h1 class="mt-5">About Me</h1>
                    <br>
                    <p>I am Nasuha binti Asri. A Diploma in Computer Science student from Universiti Teknologi Mara (UiTM).
                        A little bit about me, I have been learning computer science since 2016 where I took Science Stream with 
                        Information and Communication Technology (ICT) back in school. Then, I further my studies in Diploma in Computer Science
                        because I am eager to know how technologies work to make human's life better.                        
                    </p>
                    <br>
                    <p>
                        Since school, I am passionate in learning programming focussing on web development and software development. When I was in secondary school, 
                        I have code in Visual Basic and I learnt to google all the things I needed in the application since then. 
                        Currently I can code in PHP, HTML, Java, C++ and know a little bit of CSS to produce a great result. 
                        If I am given a chance, I hope I can learn more about programming and get guidance from experts in this industry
                        to enhance my skills so I can help people solve their problem.
                    </p>
                    <br>
                    <p>
                        Last but not least, I hope I can get connected to people and experts in technology industry in Malaysia so I can 
                        get as much as possible knowledge from them to make our country better in any way.
                    </p>
                </div>
            </div>
        </div>          
    </article>
  </body>
</html>