<!doctype html>
<html lang="en">
  <head>
    <%- include('partial/header') %>
    <title>Contact</title>
  </head>
  
  <body>
    <!-- Page Content -->
    <%- include('partial/nav') %>
    <article>
      <div class="container">
        <div class = "row">
          <div class = "col-lg-6">
            <h1 class="mt-5">Contact Me</h1>
            <p>If you have inquiries about me, you can contact me here: </p>
            <br>
            <table class="table table-bordered table-hover">
              <thead class = "thead-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Link</th>
                </tr>
              </thead>
              <tbody>
                <tr class="table-light">
                  <th>
                    <i class="fab fa-twitter fa-2x"></i>
                  </th>
                  <th><h4><a href="https://twitter.com/nasuhasri" rel="nofollow" target="_blank"> Twitter!</a></h4>
                    <body link="blue" alink="purple" vlink="red">
                  </th>
                </tr>                
                <tr class="table-light">
                  <th>
                    <i class="fab fa-facebook fa-2x"></i>
                  </th>
                  <th><h4><a href="https://www.facebook.com/nasuha.asri" rel="nofollow" target="blank"> Facebook!</a>
                    <body link="blue" alink="purple" vlink="red">
                  </th>
                </tr>                
                <tr class="table-light">
                  <th>
                    <i class="fab fa-instagram fa-2x"></i>
                  </th>
                  <th><h4><a href="https://www.instagram.com/nasuhasri/?hl=en" rel="nofollow" target="_blank"> Instagram! </a>
                    <body link="blue" alink="purple" vlink="red">
                  </th>
                </tr>
                <tr class="table-light">
                  <th>
                    <i class="fab fa-linkedin fa-2x"></i>
                  </th>
                  <th><h4><a href="https://www.linkedin.com/in/nasuha-asri-62b7b4190/" rel="nofollow" target="_blank"> LinkedIn! </a>
                    <body link="blue" alink="purple" vlink="red">
                  </th>
                </tr>
              </tbody> 
            </table>
          </div>
        </div>
      </div>          
    </article>
  </body>
</html>